In [1]:
import numpy as np

In [83]:
#1 buatlah array integer dari 10 sampai 50
np.arange(10,51)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [6]:
#2 buat array integer dari 10 sampai 50 kelipatan 2
kelipatan2 = np.arange(10,50,2)
kelipatan2

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48])

In [11]:
#3 buatlah data array 3 baris 3 kolom dari 0 sampai 8
arr = np.arange(9)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [12]:
arr.reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [86]:
#4 buatlah data array dengan nilai 25 data secara random
np.random.randint(25)

14

In [35]:
#5 mebuat data array
arr = np.arange(1,26)
newArr = arr.reshape(5,5)
print(newArr)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [63]:
#6 dari soal no 5 tampilkan data array 2d dari angka 12 sampai 25
newArr[2:,1:]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [37]:
#7 dari soal no 5 tampilkan angka 20
newArr[3][4]

20

In [140]:
#8  dari soal no 5 tampilkan angka 20 dan 25
newArr[3:,4:]

array([[20],
       [25]])

In [68]:
#9 dari soal no 5 tampilkan (max,min,argmax,argmin)
print('max : ',newArr.max())
print('min : ',newArr.min())
print('argmax : ',newArr.argmax())
print('argmin : ',newArr.argmin())

max :  25
min :  1
argmax :  24
argmin :  0

In [111]:
#10 dari soal no 5 tampilkan index yang nilainya lebih dari 10 dan kurang sama dengan 20
arr[10:20]

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20])